<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chapter_11_making_restful_calls_with_ajax">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
